* {

  scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
}

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track);
  border-radius: var(--border-radius-default);
  border: 1px solid var(--scrollbar-border) !important;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb);
  border-radius: var(--border-radius-default);
  background-clip: content-box;
  border: 3px solid transparent;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--scrollbar-thumb-hover);
  border: 2px solid transparent;
}

::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-border);
  border-radius: var(--border-radius-default);
}

/* Тонші скролбари для мобільних пристроїв */
@media (max-width: 768px) {
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-thumb {
    border: 2px solid transparent;
  }
}