.table-container {
    flex: 1;
    overflow-y: auto;
    margin-bottom: 0.75rem;
    max-height: calc(100% - 120px);
    position: relative;
    background: #252525;
    border: 1px solid #555;
    border-radius: 4px;
  }
  
  .participants-table {
    table-layout: 100% auto;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    table-layout: fixed;
    background-color: rgba(32, 32, 32, 0.6);
  }
  
  .participants-table th {
    padding: 10px 8px;
    border-bottom: 2px solid #444;
    background-color: rgba(40, 40, 40, 0.8);
    backdrop-filter: blur(5px);
    font-weight: bold;
    font-size: 0.95rem;
    color: #eee;
    position: sticky;
    top: 0;
    z-index: 10;
    text-align: left;
  }
  
  .participants-table td {
    padding: 8px;
    border-bottom: 1px solid rgba(80, 80, 80, 0.3);
    vertical-align: middle;
  }
  
  .participants-table tr.found {
    background-color: rgba(40, 40, 45, 0.4);
  }
  
  .participants-table tr.not-found {
    background-color: rgba(50, 45, 45, 0.4);
  }
  
  .participants-table tr:hover {
    background-color: rgba(60, 60, 65, 0.4);
  }

  .participants-table th.sorted.asc::after {
    content: "↑";
    opacity: 1;
    color: #fa754d;
  }
  
  .participants-table th.sorted.desc::after {
    content: "↓"; 
    opacity: 1;
    color: #fa754d;
  }

  .participants-table th::after {
    content: "↕";
    margin-left: 5px;
    opacity: 0.3;
  }